<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>KSHomepage</title>
</head>
<body>
  <h1>KSHomepage</h1>
  <p>Simple homepage with express</p>
  <a href="/about-here">Introduce</a> </body>
  <a href="/posts">Posts</a> </body>
</html>
